body, html,p {
  margin: 0;
  padding: 0;
}

.head {
  width: 72%;
  height: 4rem;
  line-height: 4rem;
  margin: 0 auto 1rem auto;
}

.head ul {
  padding: 0;
  list-style: none;
}

.head ul li {
  float: left;
  margin-right: 3rem;
}

#con {
  width: 72%;
  margin: 0 auto;
}

a {
  color: #666;
}
